/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.first-page {
		background-image: url(../img/media1.png);
		background-size: cover;
		height: 100%;
	}
	#my-menu {
		margin-top: 430px;
	}
	#my-menu a {
		font-size: 45px;
	}
	#my-menu li {
		line-height: 65px;
	}
	.form > .pages {
		background-image: url(../img/media4.png);
		background-size: cover;
		height: 100%;
	}
	.information {
		display: none;
	}
	.details {
		float: right;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 320px), (min-height: 420px) {
	
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px), (max-height: 480px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-device-width : 1224px) and (max-device-width : 1280px){
.container {
	background-image: url(../img/laptop.png);
	background-size: cover;
	height: 800px;
}
.info h1, h2, h3, p {
	font-size: 20px;
}
.info {
	margin-top: -50px;
	padding-right: 100px;
}
.first-page {
	background-image: url(../img/laptop2.png);
	background-size: cover;
	height: 800px;
}
.form > .pages {
	background-image: url(../img/laptop3.png)
	background-size: cover;
	height: 800px;
}
.information {
	position: absolute;
	margin-top: 270px;
	padding-left: 322px;
}
.information h1 {
	font-size: 25px;
}
.information img {
	height: 30px;
}
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}